body {
  background-color:#fec; font-family: tahoma,arial,sans-serif;
  color:#310; /* #99e59c; } */
  margin:0; border:0; padding:0;
}

#page {  margin-top: 3em; }
.message { width: 40em; margin: 0 auto; border: solid 1px;
  padding-left: 2em; padding-right: 2em; padding-top: 1em; padding-bottom: 2em; }
#game { width: 50em; margin: 0 auto; border: solid 1px;
  padding-left: 2em; padding-right: 2em; padding-top: 1em; padding-bottom: 2em; }
#upper { height: 5em; }
#control { padding-right: 2em; }
#cards { border: solid 1px; float: none; height: 9em;
  padding-left: 2em; padding-right: 2em; padding-top: 1em; padding-bottom: 2em; }
#upper div { float: left; }
.cardColumn { float: left; padding-right: 1em; }
p { margin-block-start: 0; }

A:link { font-weight: bold; color:#A00000; text-decoration: none; }
A:visited { font-weight: bold; color:#A00000; text-decoration: none; }
A:hover { background-color:#ABABFF; font-weight: bold; color:#A00000; text-decoration: none; }
A.nohover:hover { background-color:inherit; }

.invisible { display: none; }

input.card { display: block; margin-bottom: 1em; }
input.advising.red { background-color: #f88; }
input.advising.red.clicked { background-color: #600; }
input.advising.blue { background-color: #88f; }
input.advising.blue.clicked { background-color: #008; }
input.guessing.red { background-color: #600; }
input.guessing.blue { background-color: #008; }
input.advising.neutral { background-color: #fff; }
input.advising.neutral.clicked { background-color: #060; }
input.guessing.neutral { background-color: #8f8; }
input.death { color: white; background-color: black; }